.hidden{
    display: none;
}
.h1{
    width: 95%;
    font-size: 2em;
    color: var(--header-text-color);
    border: 0px;
    margin: auto;
    /* padding-left: 20px; */
}
.text{
    font-size: 18pt;
    color: var(--text-color);

}
.textarea{
    width: 100%;
    padding: 15px;
    max-width: 100%;
    min-width: 100%;
    min-height: 400px;
}
.buttton{
    width: 120px;
    height: 44px;
    margin: 15px;
    background-color: var(--first-button-color-inactive);
    border-radius: 5px;
    color: white;
}
.m-20{
    margin: 20px;
}
.nav{
width: 30%;
margin: 50px;
display: flex;
flex-direction: column;
gap: 10px;
background-color: var(--banner-background);
}
.nav a{
    padding: 10px;
    background-color: transparent;
    font-size: 16pt;
}
.infoposts{
    width: 80%;
    margin: auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.selectposts select{
    font-size: 18pt;
}
.table-all-posts {
    font-size: 16pt;
    margin: 25px;
}
.table-all-posts td{
    border: 1px solid var(--second-button-color-inactive);
    border-collapse: collapse;
    padding: 5px; 
}