:root{
    --background: #171414;
    --banner-background: #5656564f;
    --text-color: #BCB0B0;
    --header-text-color: #29D3B3;
    --first-button-color-active: #2addbc;
    --first-button-color-inactive: #2addbc93;
    --second-button-color: #9917FF;
    --second-button-color-inactive: #9a17ff96;
    --none: rgba(0, 0, 0,0);
    
}
body{
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background);
    color: var(--text-color);
}
header{
    position: sticky;
    width: 100%;
    height: 24%;
    margin-bottom: 30px;
}
.header-line{
    width: 100%;
}
.autorization{
    display: flex;
    gap: 10%;
    position: absolute;
    left: 80%;
    top: 50%;
    width: 21%;
}
.autorization a{
    color: var(--header-text-color);
    padding-left: 5%;
    font-size: 20pt;
}
.autorized{
    display: flex;
    gap: 10%;
    position: absolute;
     align-items: center; 
    justify-content: center;
    left: 78%;
    top: 33%;
    width: 21%;
    background-color: transparent;

}
.exit-account{
 width: 30px;
 height: 30px;
 border: 0px ;
}
.exit-account img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.menu-avatar{
    margin: 5px;
    margin-right: 0px;
    background-color: transparent;
}
.menu-avatar img{
    width: 68px;
    height: 66px;
    border-radius: 70%;
}
.nav-menu{
    display: flex;
    gap: 3%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.nav-menu a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 17%;
    height: 60px;
    border-radius: 10px;
}
.downbuttons {
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-top: 25px;
    position: absolute;
    top: 60%;
    width: 75%;
    height: 33%;
}
.downbuttons button{
    width: 40%;
    height: 100%;
    border: 3px solid var(--second-button-color-inactive);
    border-radius: 10px;
}
.uppbuton{

    border: 3px solid var(--first-button-color-inactive);
}
.uppbutons-active{
    border: 0px;
    border: 3px solid var(--first-button-color-active);
}
.micro-ico{
    width: 30px;
    margin-left: 10px;
    object-fit: cover;
}
footer{
    margin-top: 100px;
    width: 100%;
    height: 100px;
    background-color: var(--banner-background);
}
.contacts{
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 40px;
    background-color: var(--none);
}
.contacts img{
    width: 40px;
    height: 40px;
    background-color: var(--none);
}
.contacts a{
    
    background-color: var(--none);
}